@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 60%;
}

body {
  font-family: 'Play', sans-serif;
  font-weight: 400;
  color: #000;
  background: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
  background-repeat: no-repeat;
}


main {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;

}
.content{
   position: relative;
   width: 120rem;
   background-color: rgba(255, 255, 255, 0.35);
   filter: blur();
   box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
   border-radius: 9px;
   display: flex;
   margin: 50px;
}
@media (max-width: 650px) {
   .content{
      box-shadow: none;
      background-color: none;
   }
   body{
      background: #9fc6e6;
   }
}
.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
  height: 60rem;
}

.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
  width: 159px;
}

.score {
  font-size: 8rem;
  font-weight: 300;
  color: #ee7d05;
  margin-bottom: auto;
}

.player--active {
   background: rgba(255, 255, 255, 0.534);
   
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #ee7d05;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
}

.current-label {
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 1.7rem;
  color: #eee;
}

.current-score {
  font-size: 3.5rem;
}


.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #424242;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;
  background-image: linear-gradient(to right, #fad8c5 0%, #f5cad2 100%);
  padding: 7px 20px 15px 20px;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}


.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}

.btn--new {
  top: 3rem;
 width: 200px;
}
.new__text{
   display: inline-block;
   margin-top: 5px;
   margin-left: 30px;
}
.btn--roll {
  top: 40rem;
  width: 200px;
}
.roll__text{
   display: inline-block;
   margin-top: 5px;
   margin-left: 28px;
}
.btn--hold {
  top: 46rem;
  width: 175px;

}
.hold__text{
   display: inline-block;
   margin-top: 5px;
   margin-left: 28px;
}

.btn:active {
  transform: translate(-50%, 3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}

.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
}

.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #d50b0b;
}

.hidden{
   display: none;
}

.rocket{
   position: absolute;
   left: 25px;
   width: 25px;
}

.dice__roll{
   position: absolute;
   left: 10px;
   top: 5px;
   width: 35px;
}

.check__hold{
   position: absolute;
   left: 7px;
   top: -5px;
   width: 55px;
   color: #e2b3a0;
}